﻿@page "/accounting"
@attribute [Authorize(Roles = "Admin")]
<div class="ares-tab">
    <div class="tab-headings-container">
        <div class="tab @(tab == Tab.Profit ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Profit)">Profit</div>
        <div class="tab @(tab == Tab.Statistics ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Statistics)">Statistics</div>
        <div class="tab @(tab == Tab.Budget ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Budget)">Budget</div>
    </div>
</div>
@if (tab != Tab.None)
{
    if (tab == Tab.Profit)
    {
        <div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
            <form action="/action_page.php">
                <label>Pasirinkti data Nuo</label>
                <input type="date">
                <br />

                <label>Pasirinkti data Iki</label>
                <input type="date">
                <br />

                <label>Paskaiciuoti pelna</label>

            </form>
        </div>
    }
    if (tab == Tab.Statistics)
    {
        <div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
            <form action="/action_page.php">
                <label>Pasirinkti data Nuo</label>
                <input type="date">
                <br />

                <label>Pasirinkti data Iki</label>
                <input type="date">
                <br />

                <label>Rodyti statistika</label>

            </form>
        </div>
    }

    if (tab == Tab.Budget)
    {
        <div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
            <form action="/action_page.php">
                <label>Pasirinkti data Nuo</label>
                <input type="date">
                <br />

                <label>Pasirinkti data Iki</label>
                <input type="date">
                <br />

                <label>Parodyti biudzeta</label>

            </form>
        </div>
    }
}

@code {
    protected enum Tab { None, Profit, Statistics, Budget, }
    Tab tab = Tab.None;

    protected void ChangeTab(Tab tab1)
    {
        tab = tab1;
    }
}
