﻿@page "/cart"
@attribute [Authorize(Roles = "Client")]
@using SistemuPagrindai.Mappings.CartItem
@using SistemuPagrindai.Services;
@using System.Runtime.CompilerServices
@using Blazored.Modal.Services
@using System.Net
@using SistemuPagrindai.Mappings.Items
@using SistemuPagrindai.Mappings.Carts;
@using SistemuPagrindai.Mappings.Orders;  
@inject HttpClient httpClient
@inject CartService cartService
@inject CartItemService cartItemService
@inject ItemService serviceItem
@inject ExampleService orderService
@inject IJSRuntime JsRuntime
@inject IToastService toastService
@inject IModalService Modal

<div class="ares-tab">
    <div class="tab-headings-container">
        <div class="tab @(tab == Tab.Overview ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Overview)">Overview CartItems</div>
    </div>
</div>
@if (tab != Tab.None)
{
    if (tab == Tab.Overview)
    {
        @if (cartItems != null && cartItemsSum != null && cartItemsSum.CartItems != null)
        {
            <div>
                <table id="customers" style="width: 800px">
                    <tr>
                        <th>Pavadinimas</th>
                        <th>Kiekis</th>
                        <th>Kaina</th>
                        <th>Ištrinti</th>
                    </tr>
                    @{ totalSum = 0;}

                    @foreach (var item in cartItemsSum.CartItems)
                    {
                        <tr>
                            <td>@item.ItemName</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price EUR</td>
                            <td><button @onclick="@(async () => { await Delete(item.ItemId); })" class="btn btn-danger">Ištrinti</button></td>
                            @{ 
                                totalSum += item.Price;
                            } 
                        </tr>
                    }
                </table>
                <p style="font-weight: bold">
                    <button @onclick="@(async () => { await CreateOrder(cartId); })" class="btn btn-primary">Pirkti</button> Total sum: @totalSum EUR
                </p> 
            </div>
        }
        else
        {
            <div>
                Krepšelis tuščias!
            </div>
        }
    }
}


@code {

    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }
    protected enum Tab { None, Create, Edit, Overview, Control, Item }
    Tab tab = Tab.Overview;
    CartItemListViewModel CartItemList = new CartItemListViewModel();
    ItemListViewModel itemsList = new ItemListViewModel();
    private CreateCartItemModel CartItemModel = new CreateCartItemModel();
    CartViewModel cart;
    CartItemListViewModel cartItems;
    CartItemListViewModel cartItemsSum = new CartItemListViewModel();
    string userId;
    double totalSum = 0;
    int? cartId;

    protected override async Task OnInitializedAsync()
    {
        var AuthState = await authStateTask;
        var user = AuthState.User;
        userId = user.Identity.Name;
        if (!string.IsNullOrEmpty(userId))
        {
            await load();
        }
    }

    protected async Task load()
    {
        cart = await cartService.GetUserCartAsync(userId);
        if (cart != null)
        {
            cartId = cart.Id;
            cartItems = await cartItemService.GetCartItemsAsync(cart.Id);

            cartItemsSum = new CartItemListViewModel();
            if (cartItems != null && cartItems.CartItems.Any())
            {
                cartItemsSum.CartItems = cartItems.CartItems.GroupBy(e => e.ItemId)
                .Select(u => new CartItemViewModel
                {
                    Id = u.First().Id,
                    ItemId = u.First().ItemId,
                    ItemName = u.First().ItemName,
                    CartId = u.First().CartId,
                    Quantity = u.Sum(s => s.Quantity),
                    Price = u.Sum(s => s.Price),
                }).ToList();
            }
        }
    }

    protected void ChangeTab(Tab tab1)
    {
        tab = tab1;
    }

    protected async Task Delete(int id)
    {
        foreach (var val in cartItems.CartItems.Where(e => e.ItemId == id))
        {
            await cartItemService.DeleteCartItem(val.Id);
        }

        totalSum = 0;
        await load();
        totalSum = 0;
        StateHasChanged();
    }

    protected async Task CreateOrder(int? cartId)
    {
        if (totalSum > 0 && cartId.HasValue && cartId != 0)
        {
            CreateOrderCommand create = new CreateOrderCommand()
            {
                UserId = userId,
                CartId = cartId != null ? cartId.Value : 0,
                Adress = "Jonavos g. 37, Kaunas",
                Price = totalSum,
                Status = "In Progress",
                DeliveyType = "DPD"
            };

            await orderService.InsertOrderAsync(create);

            totalSum = 0;
            await load();
            totalSum = 0;
            StateHasChanged();
        }
    }
}
