﻿@using SistemuPagrindai.Mappings.Items
@using SistemuPagrindai.Services
@inject ItemService service
@inject IToastService toastService

@if (item != null)
{
<div class="simple-form">
    <EditForm Model="@item" OnValidSubmit="@UpdateItem">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="item-name">Pavadinimas</label>
            <InputText @bind-Value="@item.Name" type="text" class="form-control" id="item-name" />
        </div>

        <div class="form-group">
            <label for="price">Kaina</label>
            <InputNumber TValue="double" id="price" class="form-control" @bind-Value="@item.Price" />
        </div>

        <div class="form-group">
            <label for="manufactorer">Gamintojas</label>
            <InputText id="manufactorer" class="form-control" @bind-Value="@item.Manufacturer" />
        </div>

        <div class="form-group">
            <label for="count">Kiekis</label>
            <InputNumber TValue="int" class="form-control" id="count" @bind-Value="@item.Count" />
        </div>

        <div class="form-group">
            <label for="location">Prekes vieta</label>
            <InputText id="location" class="form-control" @bind-Value="@item.Location" />
        </div>

        <div class="form-group">
            <label for="description">Aprasymas</label>
            <InputTextArea id="description" class="form-control" @bind-Value="@item.Description" />
        </div>

        <div class="form-group">
            <label for="rating">Vertinimas</label>
            <InputText id="rating" class="form-control" @bind-Value="@item.Rating" />
        </div>

        <div class="form-group">
            <label for="expiryDate">Galiojimo data</label>
            <InputText id="expiryDate" class="form-control" @bind-Value="@item.ExpiryDate" />
        </div>

        <div class="form-group">
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </div>
    </EditForm>

    <button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>
</div>
}
else
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public int itemId { get; set; }

    ItemViewModel item { get; set; }

    protected override async Task OnInitializedAsync()
    {
        item = await service.GetItemAsync(itemId);
    }

    protected async Task UpdateItem()
    {
        UpdateItemCommand update = new UpdateItemCommand()
        {
            Id = itemId,
            Name = item.Name,
            Count = item.Count,
            Description = item.Description,
            ExpiryDate = item.ExpiryDate,
            Location = item.Location,
            Manufacturer = item.Manufacturer,
            Price = item.Price,
            Rating = item.Rating
        };

        var result = await service.UpdateItemAsync(update);

        if (result > 0)
        {
            toastService.ShowSuccess("Item has been updated successfully");
        }
        else
        {
            toastService.ShowError("Item has not been updated");
        }

        await BlazoredModal.Close(ModalResult.Ok<ItemViewModel>(item));
    }

}