﻿@page "/employee"
@attribute [Authorize(Roles = "Admin, Worker")]
<div class="ares-tab">
    <div class="tab-headings-container">
        <div class="tab @(tab == Tab.Info ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Info)">Employee information</div>
        <div class="tab @(tab == Tab.Overview ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Overview)">Schedule overview</div>
    </div>
</div>
@if (tab != Tab.None)
{
    if (tab == Tab.Overview)
    {
        <div>
            <table id="customers">
                <tr>
                    <th>Tabelio nr</th>
                    <th>Pirmadienis</th>
                    <th>Antradienis</th>
                    <th>Treciadienis</th>
                    <th>Ketvirtadienis</th>
                    <th>Penktadienis</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>8:00-16:00</td>
                    <td>8:00-16:00</td>
                    <td>8:00-16:00</td>
                    <td>8:00-16:00</td>
                    <td>8:00-16:00</td>
                </tr>
            </table>
            <input type="submit" value="Sukurti tvarkarašti" @onclick="() => { tab = Tab.Control; }">
        </div>
    }

    if (tab == Tab.Control)
    {
        <div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
            <form action="/action_page.php">
                <label>ID</label>
                <input type="text">
                <br />


                <label>Pirmadienis</label>
                <div style="display: inline">
                    <label>Nuo:</label>
                    <input type="time">
                    <label>Iki:</label>
                    <input type="time">
                </div>
                <br />

                <label>Antradienis</label>
                <div style="display: inline">
                    <label>Nuo:</label>
                    <input type="time">
                    <label>Iki:</label>
                    <input type="time">
                </div>
                <br />

                <label>Treciadienis</label>
                <div style="display: inline">
                    <label>Nuo:</label>
                    <input type="time">
                    <label>Iki:</label>
                    <input type="time">
                </div>
                <br />

                <label>Ketvirtadienis</label>
                <div style="display: inline">
                    <label>Nuo:</label>
                    <input type="time">
                    <label>Iki:</label>
                    <input type="time">
                </div>
                <br />

                <label>Penktadienis</label>
                <div style="display: inline">
                    <label>Nuo:</label>
                    <input type="time">
                    <label>Iki:</label>
                    <input type="time">
                </div>
            </form>
        </div>
    }
    if (tab == Tab.Info)
    {
        <div>
            <table id="customers">
                <tr>
                    <th>Tabelio nr</th>
                    <th>Vardas</th>
                    <th>Pavarde</th>
                    <th>Elektronis Pastas</th>
                    <th>Slaptazodis</th>
                    <th>Slapyvardis</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Rokas</td>
                    <td>Tubutis</td>
                    <td>rokas.tubutis@gmail.com</td>
                    <td>**********</td>
                    <td>rtb</td>
                </tr>
            </table>
            <input type="submit" value="Submit">
        </div>
    }
}

@code {
    protected enum Tab { None, Create, Info, Overview, Control, Item }
    Tab tab = Tab.None;

    protected void ChangeTab(Tab tab1)
    {
        tab = tab1;
    }
}