﻿@page "/item"
@attribute [Authorize(Roles = "Admin, Client, Worker")]
@using SistemuPagrindai.Mappings.Items;
@using SistemuPagrindai.Mappings.CartItem;
@using SistemuPagrindai.Services;
@using System.Runtime.CompilerServices
@using Blazored.Modal.Services
@using System.Net
@inject HttpClient httpClient
@inject ItemService service
@inject CartItemService serviceCartItem
@inject IJSRuntime JsRuntime
@inject IToastService toastService
@inject IModalService Modal

<div class="ares-tab">
    <div class="tab-headings-container">
        <div class="tab @(tab == Tab.Overview ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Overview)">Overview items</div>
        <AuthorizeView Roles="Admin,Worker">
        <div class="tab @(tab == Tab.Overview ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Create)">Create item</div>
        </AuthorizeView>
    </div>
</div>
@if (tab != Tab.None)
{
    if (tab == Tab.Overview)
    {
        @if (itemsList != null && itemsList.Items != null && itemsList.Items.Any())
        {
            <div>
                <table id="customers">
                    <tr>
                        <th>Prekes ID</th>
                        <th>Pavadinimas</th>
                        <th>Kaina</th>
                        <th>Gamintojas</th>
                        <th>Kiekis</th>
                        <th>Prekes vieta</th>
                        <th>Aprasymas</th>
                        <th>Vertinimas</th>
                        <th>Galiojimo data</th>
                        <AuthorizeView Roles="Admin,Worker">
                            <th>Redaguoti</th>
                            <th>Istrinti</th>
                        </AuthorizeView>
                        <AuthorizeView Roles="Client">
                            <th></th>
                        </AuthorizeView>
                    </tr>
                    @foreach (var item in itemsList.Items.OrderBy(e => e.Price).Where(e => e.Count > 0))
                    {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Manufacturer</td>
                    <td>@item.Count</td>
                    <td>@item.Location</td>
                    <td>@item.Description</td>
                    <td>@item.Rating</td>
                    <td>@item.ExpiryDate</td>
                    <AuthorizeView Roles="Admin,Worker">
                        <td><button @onclick="@(async () => { await ShowEditItem(item.Id); })" class="btn btn-primary">Redaguoti</button></td>
                        <td><button @onclick="@(async () => { await DeleteItem(item.Id); })" class="btn btn-danger">Istrinti</button></td>
                    </AuthorizeView>
                    <AuthorizeView Roles="Client">
                        <td><button @onclick="@(async () => { await AddToCart(item.Id); })" class="btn btn-primary">Prideti i krepseli</button></td>
                    </AuthorizeView>
                </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
    }
    if (tab == Tab.Create)
    {
        <div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
            <EditForm Model="@itemModel" OnValidSubmit="@SubmitItem">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <label>Pavadinimas</label>
                <InputText id="name" class="form-control" @bind-Value="@itemModel.Name" />

                <label>Kaina</label>
                <InputNumber TValue="double" class="form-control" id="price" @bind-Value="@itemModel.Price" />

                <label>Gamintojas</label>
                <InputText id="manufactorer" class="form-control" @bind-Value="@itemModel.Manufacturer" />

                <label>Kiekis</label>
                <InputNumber TValue="int" class="form-control" id="count" @bind-Value="@itemModel.Count" />

                <label>Prekes vieta</label>
                <InputText id="location" class="form-control" @bind-Value="@itemModel.Location" />

                <label>Aprasymas</label>
                <InputTextArea id="description" class="form-control" @bind-Value="@itemModel.Description" />

                <label>Vertinimas</label>
                <InputText id="rating" class="form-control" @bind-Value="@itemModel.Rating" />

                <label>Galiojimo data</label>
                <InputText id="expiryDate" class="form-control" @bind-Value="@itemModel.ExpiryDate" />

                <input type="submit" value="Submit">
            </EditForm>
        </div>
    }
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }
    [CascadingParameter]
    public IModalService ModalItem { get; set; }
    ItemListViewModel itemsList = new ItemListViewModel();
    private ItemViewModel itemModel = new ItemViewModel();
    protected enum Tab { None, Create, Edit, Overview, Control, Item }
    string userId;
    Tab tab = Tab.Overview;

    protected override async Task OnInitializedAsync()
    {
        var AuthState = await authStateTask;
        var user = AuthState.User;
        userId = user.Identity.Name;
        if (!string.IsNullOrEmpty(userId))
        {
            await loadItems();
        }
    }

    protected void ChangeTab(Tab tab1)
    {
        tab = tab1;
    }

    protected async Task loadItems()
    {
        itemsList = await service.GetItemsAsync();
    }

    private async Task SubmitItem()
    {
        CreateItemCommand create = new CreateItemCommand()
        {
            Name = itemModel.Name,
            Count = itemModel.Count,
            Description = itemModel.Description,
            ExpiryDate = itemModel.ExpiryDate,
            Location = itemModel.Location,
            Manufacturer = itemModel.Manufacturer,
            Price = itemModel.Price,
            Rating = itemModel.Rating
        };

        var result = await service.InsertItemAsync(create);

        if (result > 0)
        {
            toastService.ShowSuccess("Item has been added successfully");
            await loadItems();
            tab = Tab.Overview;
            StateHasChanged();
        }
        else
        {
            toastService.ShowError("Item has not been added");
        }
    }

    protected async Task ShowEditItem(int itemId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(EditItem.itemId), itemId);

        Modal.Show<EditItem>("Edit Item", parameters);
    }

    protected async Task DeleteItem(int itemId)
    {
        var result = await service.DeleteItemAsync(itemId);

        if (result != null)
        {
            toastService.ShowInfo("Item has been deleted successfully");
            await loadItems();
            tab = Tab.Overview;
            StateHasChanged();
        }
        else
        {
            toastService.ShowError("Item has not been added");
        }
    }

    protected async Task AddToCart(int itemId)
    {
        CreateCartItemCommand create = new CreateCartItemCommand()
        {
            ItemId = itemId,
            Quantity = 1,
            UserId = userId
        };
        var result = await serviceCartItem.InsertCartItemAsync(create);

        if (result > 0)
        {
            toastService.ShowSuccess("Item has been added to our shopping cart");
        }
        else
        {
            toastService.ShowError("Ooops. Something went wrong.");
        }

        await loadItems();

        StateHasChanged();
    }
}
