﻿@page "/routes"
@attribute [Authorize(Roles = "Admin, Worker")]
@using SistemuPagrindai.Mappings.ItemRoutes
@using SistemuPagrindai.Services;
@using System.Runtime.CompilerServices
@using Blazored.Modal.Services
@using System.Net
@using SistemuPagrindai.Mappings.Items
@using SistemuPagrindai.Mappings.Routes
@inject HttpClient httpClient
@inject ItemRouteService serviceItemRoutes
@inject ItemService serviceItem
@inject RoutesService serviceRoutes
@inject IJSRuntime JsRuntime
@inject IToastService toastService
@inject IModalService Modal


<div class="ares-tab">
    <div class="tab-headings-container">
        <div class="tab @(tab == Tab.Edit ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Create)">Create route</div>
        <div class="tab @(tab == Tab.Overview ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Overview)">Overview routes</div>
    </div>
</div>
@if (tab != Tab.None)
{
    if (tab == Tab.Create)
    {
        @if (itemsList != null && itemsList.Items != null && routesList != null && routesList.Routes != null)
        {
            <div style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
                <EditForm Model="@itemRouteModel" OnValidSubmit="@SubmitRoute">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="item">Preke</label>
                        <InputSelect @bind-Value="@itemRouteModel.ItemId" type="select" class="form-control" id="item">
                            @foreach (var item in itemsList.Items.OrderBy(e => e.Id))
                                        {
                                <option value="@item.Id">@item.Id @item.Name</option>
                                        }
                        </InputSelect>
                    </div>

                    <div class="form-group">
                        <label for="route">Reisas</label>
                        <InputSelect @bind-Value="@itemRouteModel.RouteId" type="select" class="form-control" id="route">
                            @foreach (var route in routesList.Routes.OrderBy(e => e.Id))
                                        {
                                <option value="@route.Id">@route.Id @route.Code @route.From @route.To</option>
                                        }
                        </InputSelect>
                    </div>

                    <div class="form-group">
                        <label for="data">Data</label>
                        <InputDate @bind-Value="@itemRouteModel.RouteDate" id="data" type="datetime" class="form-control"></InputDate>
                    </div>

                    <input type="submit" value="Submit">
                </EditForm>
            </div>
        }
        else
        {
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
    }
    if (tab == Tab.Overview)
    {
        @if (itemRouteList != null && itemRouteList.RouteItems != null && itemRouteList.RouteItems.Any())
        {
            <div>
                <table id="customers">
                    <tr>
                        <th>ID</th>
                        <th>Reiso ID</th>
                        <th>Prekes ID</th>
                        <th>Reiso kodas</th>
                        <th>Prekes pavadinimas</th>
                        <th>Data</th>
                        <th></th>
                    </tr>
                    @foreach (var item in itemRouteList.RouteItems)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.RouteId</td>
                            <td>@item.ItemId</td>
                            <td>@item.RouteCode</td>
                            <td>@item.ItemName</td>
                            <td>@item.RouteDate</td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
    }

}

@code {
    protected enum Tab { None, Create, Edit, Overview, Control, Item }
    Tab tab = Tab.Overview;

    protected void ChangeTab(Tab tab1)
    {
        tab = tab1;
    }

    ItemRouteListViewModel itemRouteList = new ItemRouteListViewModel();
    ItemListViewModel itemsList = new ItemListViewModel();
    RoutesListViewModel routesList = new RoutesListViewModel();

    private CreateItemRouteModel itemRouteModel = new CreateItemRouteModel();

    protected override async Task OnInitializedAsync()
    {
        itemRouteModel.RouteDate = new DateTime(2021, 1, 1, 12, 4, 20);
        await loadItems();
        itemRouteModel.ItemId = itemsList.Items[1].Id.ToString();
        itemRouteModel.RouteId = routesList.Routes[1].Id.ToString();
    }

    protected async Task loadItems()
    {
        itemRouteList = await serviceItemRoutes.GetItemRoutesAsync();
        itemsList = await serviceItem.GetItemsAsync();
        routesList = await serviceRoutes.GetRoutesAsync();
    }

    private async Task SubmitRoute()
    {
        CreateItemRouteCommand create = new CreateItemRouteCommand()
        {
            ItemId = int.Parse(itemRouteModel.ItemId),
            RouteId = int.Parse(itemRouteModel.RouteId),
            RouteDate = itemRouteModel.RouteDate
        };

        var result = await serviceItemRoutes.InsertItemAsync(create);

        if (result > 0)
        {
            toastService.ShowSuccess("Route has been added successfully");
            await loadItems();
            tab = Tab.Overview;
            StateHasChanged();
        }
        else
        {
            toastService.ShowError("Route has not been added");
        }
    }
}
