﻿@using SistemuPagrindai.Mappings.Orders
@using SistemuPagrindai.Services
@inject ExampleService service
@inject IToastService toastService

@if (order != null)
{
    <div class="simple-form">
        <EditForm Model="@order" OnValidSubmit="@UpdateOrder">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="orderDate">orderDate</label>
                <InputDate type="text" class="form-control" id="orderDate" @bind-Value="@order.OrderDate" />
            </div>

            <div class="form-group">
                <label for="price">price</label>
                <InputNumber TValue="double" id="price" class="form-control" @bind-Value="@order.Price" />
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <InputText id="status" class="form-control" @bind-Value="@order.Status" />
            </div>

            <div class="form-group">
                <label for="adress">Adress</label>
                <InputText id="adress" class="form-control" @bind-Value="@order.Adress" />
            </div>

            <div class="form-group">
                <label for="deliveryType">DeliveryType</label>
                <InputTextArea id="deliveryType" class="form-control" @bind-Value="@order.DeliveyType" />
            </div>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <InputNumber TValue="int" class="form-control" id="quantity" @bind-Value="@order.Quantity" />
            </div>

            <div class="form-group">
                <label for="discount">Discount</label>
                <InputNumber TValue="double" id="discount" class="form-control" @bind-Value="@order.Discount" />
            </div>

            <div class="form-group">
                <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
            </div>
        </EditForm>

        <button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>
    </div>
}
else
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public int orderId { get; set; }

    OrderViewModel order { get; set; }

    protected override async Task OnInitializedAsync()
    {
        order = await service.GetOrderAsync(orderId);
    }

    protected async Task UpdateOrder()
    {
        UpdateOrderCommand update = new UpdateOrderCommand()
        {
            Id = orderId,
            OrderDate = order.OrderDate,
            Price = order.Price,
            Status = order.Status,
            Adress = order.Adress,
            DeliveyType = order.DeliveyType,
            Quantity = order.Quantity,
            Discount = order.Discount
        };

        var result = await service.UpdateOrderAsync(update);

        if (result > 0)
        {
            toastService.ShowSuccess("Order has been updated successfully");
        }
        else
        {
            toastService.ShowError("Order has not been updated");
        }

        await BlazoredModal.Close(ModalResult.Ok<OrderViewModel>(order));
    }

}