﻿@page "/order"
@attribute [Authorize(Roles = "Admin, Worker, Client")]
@using Microsoft.JSInterop;
@using SistemuPagrindai.Controllers;
@using SistemuPagrindai.Services;
@using SistemuPagrindai.Mappings.Orders;
@using Blazored.Modal.Services
@inject HttpClient httpClient
@inject ExampleService service
@inject IJSRuntime JsRuntime
@inject IToastService toastService
@inject IModalService Modal


<div class="ares-tab">
    <div class="tab-headings-container">
        <div class="tab @(tab == Tab.Edit ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Edit)">Edit order</div>
        <div class="tab @(tab == Tab.Overview ? "tab-selected" : null)" @onclick="() => ChangeTab(Tab.Overview)">Overview order</div>
        <AuthorizeView Roles="Admin,Worker">
            <div class="tab" @onclick="() => ShowAllOrders()">Show All Orders</div>
        </AuthorizeView>
    </div>
</div>
@if (tab != Tab.None)
{
    if (tab == Tab.Edit)
    {
        <div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
            <form action="/action_page.php">
                <label>Užsakymo numeris</label>
                <input type="text">

                <label>Užsakymo data</label>
                <input type="text">

                <label>Kaina</label>
                <input type="text">

                <label>Statusas</label>
                <input type="text">

                <label>Adresas</label>
                <input type="text">

                <label>Pristatymo būdas</label>
                <input type="text">

                <label>Prekių kiekis</label>
                <input type="text">

                <input type="submit" value="Submit">
            </form>
        </div>
    }
    if (tab == Tab.Overview)
    {
        @if (ordersList != null && ordersList.Orders != null && ordersList.Orders.Any())
        {
            <div>
                <table id="customers">
                    <tr>
                        <th>Užsakymo numeris</th>
                        <th>Užsakymo data</th>
                        <th>Statusas</th>
                        <th>Adresas</th>
                        <th>Pristatymo būdas</th>
                        <th>Redaguoti</th>
                        <th>Istrinti</th>
                    </tr>
                    @foreach (var order in ordersList.Orders)
                    {
                        <tr @onclick="@(() => Selected(order.Id))" style="@(orderId == order.Id ? "; border: 7px solid black;" : "")">
                            <td>@order.Id</td>
                            <td>@order.OrderDate</td>
                            <td>@order.Status</td>
                            <td>@order.Adress</td>
                            <td>@order.DeliveyType</td>

                            <td><button @onclick="@(() => ShowEditOrder(order.Id))" class="btn btn-primary">Redaguoti</button></td>
                            <td><button @onclick="@(() => DeleteOrder(order.Id))" class="btn btn-danger">Istrinti</button></td>

                        </tr>
                        @if (orderId != null && orderId == order.Id)
                        {
                            <tr style="@(orderId == order.Id ? "; border: 7px solid black;" : "")">
                                <td colspan="8">
                                    <OrderLine orderId="orderId"></OrderLine>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
        else
        {
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
    }
    if (tab == Tab.Create)
    {
        <div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
            <EditForm Model="@orderModel" OnValidSubmit="@SubmitOrder">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="orderDate">orderDate</label>
                    <InputDate type="text" class="form-control" id="orderDate" @bind-Value="@orderModel.OrderDate" />
                </div>

                <div class="form-group">
                    <label for="price">price</label>
                    <InputNumber TValue="double" id="price" class="form-control" @bind-Value="@orderModel.Price" />
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <InputText id="status" class="form-control" @bind-Value="@orderModel.Status" />
                </div>

                <div class="form-group">
                    <label for="adress">Adress</label>
                    <InputText id="adress" class="form-control" @bind-Value="@orderModel.Adress" />
                </div>

                <div class="form-group">
                    <label for="deliveryType">DeliveryType</label>
                    <InputTextArea id="deliveryType" class="form-control" @bind-Value="@orderModel.DeliveyType" />
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <InputNumber TValue="int" class="form-control" id="quantity" @bind-Value="@orderModel.Quantity" />
                </div>

                <div class="form-group">
                    <label for="discount">Discount</label>
                    <InputNumber TValue="double" id="discount" class="form-control" @bind-Value="@orderModel.Discount" />
                </div>

                <div class="form-group">
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </div>
            </EditForm>
        </div>
    }
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }
    [CascadingParameter]
    public IModalService ModalOrder { get; set; }
    OrderListViewModel ordersList = new OrderListViewModel();
    private OrderViewModel orderModel = new OrderViewModel();
    protected enum Tab { None, Create, Edit, Overview, Control, Order }
    string userId;
    int? orderId;
    bool? isAdmin;
    Tab tab = Tab.Overview;

    protected override async Task OnInitializedAsync()
    {
        var AuthState = await authStateTask;
        var user = AuthState.User;
        userId = user.Identity.Name;
        if (!string.IsNullOrEmpty(userId))
        {
            await loadOrders(userId);
        }
    }

    protected async Task loadOrders(string userId)
    {
        if (isAdmin.HasValue)
        {
            userId = string.Empty;
            ordersList = await service.GetOrdersAsync(userId);
        }
        else
        {
            ordersList = await service.GetOrdersAsync(userId);
        }
    }

    protected void ChangeTab(Tab tab1)
    {
        tab = tab1;
    }

    private async Task SubmitOrder()
    {
        CreateOrderCommand create = new CreateOrderCommand()
        {
            OrderDate = orderModel.OrderDate,
            Price = orderModel.Price,
            Status = orderModel.Status,
            Adress = orderModel.Adress,
            DeliveyType = orderModel.DeliveyType,
            Quantity = orderModel.Quantity,
            Discount = orderModel.Discount
        };

        var result = await service.InsertOrderAsync(create);

        if (result > 0)
        {
            toastService.ShowSuccess("Order has been added successfully");
            await loadOrders(userId);
            tab = Tab.Overview;
            StateHasChanged();
        }
        else
        {
            toastService.ShowError("Order has not been added");
        }
    }

    protected async void ShowEditOrder(int orderId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(OrderEdit.orderId), orderId);

        Modal.Show<OrderEdit>("Edit Order", parameters);
    }

    protected async Task DeleteOrder(int orderId)
    {
        var result = await service.DeleteOrderAsync(orderId);

        if (result != null)
        {
            toastService.ShowInfo("Order has been deleted successfully");
            await loadOrders(userId);
            tab = Tab.Overview;
            StateHasChanged();
        }
        else
        {
            toastService.ShowError("Order has not been added");
        }
    }

    protected async Task Selected(int id)
    {
        if (orderId == id)
        {
            orderId = null;
        }
        else
        {
            orderId = id;
        }
    }

    protected async Task ShowAllOrders()
    {
        if (isAdmin == null)
        {
            isAdmin = true;
            await loadOrders(string.Empty);
            StateHasChanged();
        }
        else
        {
            isAdmin = !isAdmin;
            await loadOrders(string.Empty);
            StateHasChanged();
        }
    }
}
