﻿@using SistemuPagrindai.Services;
@using SistemuPagrindai.Mappings.CartItem;
@using SistemuPagrindai.Mappings.Orders;
@inject ExampleService orderService
@inject CartItemService cartItemService

@if (orderId.HasValue && order != null && cartItems != null && cartItems.CartItems.Any())
{
    <div>
        <table id="customers">
            <tr>
                <th>Pavadinimas</th>
                <th>Kiekis</th>
                <th>Kaina</th>
            </tr>
            @foreach (var item in cartItems.CartItems)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price EUR</td>
                </tr>
            }
        </table>
    </div>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }
    [Parameter]
    public int? orderId { get; set; }
    string userId;
    OrderViewModel order;
    CartItemListViewModel cartItems;

    protected override async Task OnInitializedAsync()
    {
        var AuthState = await authStateTask;
        var user = AuthState.User;
        userId = user.Identity.Name;
        if (!string.IsNullOrEmpty(userId))
        {
            if (orderId.HasValue)
            {
                order = await orderService.GetOrderAsync(orderId.Value);

                if (order != null)
                {
                    cartItems = await cartItemService.GetCartItemsAsync(order.CartId);
                }
            }
        }
    }
}
