﻿@page "/profile"
@using SistemuPagrindai.Data;
<div>
    <h1>Profile</h1>
    <br />
    <div>
        <p>Name</p> <input type="text" />
        <p>Surname</p> <input type="text" />
        <p>Address</p> <input type="text" />
        <p>Email</p> <input type="email" />
    </div>
    <br />
    <div>
        <h4>Ar norite pašalinti paskyrą?</h4>
        <button>Šalinti paskyra</button>
    </div>
    <br />
    <div>
        <h2>Apmokėjimo nustatymai</h2>
        <br/>
        <p>Banko sąskaita</p> <input type="text" />
    </div>
</div>

@code {
    
}
