﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SistemuPagrindai</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

   
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="Client,Admin,Worker">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="order">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Order
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Client">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="cart">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Cart
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Client, Admin, Worker">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="item">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Item
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin, Worker">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="routes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Routes
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="accounting">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Accounting
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="employee">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Employee
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>
    



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
