﻿@page "/test"


<div style="margin: 0 auto; width: 600px">
    <div id="sides">
        <div id="left" class="tab @(register ? "tab-selected": null)" @onclick="() => register = !register">Register</div>
        <div id="right" class="tab @(!register ? "tab-selected": null)" @onclick="() => register = !register">Login</div>
    </div>
</div>
<br />

@if (register)
{
    <h1 style="text-align: center">Register</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Please enter your details</h5>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" />
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" />
            </div>
            <button type="submit" @onclick="() => register = !register" class="btn btn-primary">Submit</button>
        </div>
    </div>
}
else
{
    <h1 style="text-align: center">Login</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Please enter your details</h5>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" @onclick="() => recover = !recover">Pamiršau slaptažodį</button>
        </div>
    </div>
}

@if (recover)
{
    <SistemuPagrindai.Pages.RecoverAccount></SistemuPagrindai.Pages.RecoverAccount>
}

@code {
    private bool register = false;
    private bool login = false;
    private bool ShowErrors;
    private bool recover = false;
}
